/*
 * NavLink Component Styles
 *
 */

a.nav-link,
a:link.nav-link,
a:visited.nav-link {
    padding: spacing(xxs);
    text-decoration: none;
    background: none;
    border-bottom: none;

    &.active,
    &:hover {
        background: brand-color(gold);
        border-bottom: border(default);
    }
}
