/*
 * Figure Component Styles
 *
 */

figure,
.figure {
    width: 100%;

    img,
    &__image {
        border: border(default);
        box-shadow: spacing(s) spacing(s) 0 0 brand-color(midnight);
    }

    &--maxWidth500 {
        max-width: 500px;
    }
}
